<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ Copyright (c) 2010, Red Hat Inc. or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, write to:
  ~ Free Software Foundation, Inc.
  ~ 51 Franklin Street, Fifth Floor
  ~ Boston, MA  02110-1301  USA
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/bikeability</property>
        <property name="connection.username">biker</property>
        <property name="connection.password">bike2011</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <!-- <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
        <property name="hibernate.dialect">org.hibernatespatial.postgis.PostgisDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- define the session context class, whatever that is -->
        <property name="current_session_context_class">thread</property>

        <!-- enable use of JDBC2 batch processing -->
        <property name="hibernate.jdbc.batch_size">20</property>
    	
    	<mapping package="org.life.sl.orm" /> 
        
        <mapping resource="org/life/sl/orm/OSMNode.hbm.xml"/>
        <mapping resource="org/life/sl/orm/OSMEdge.hbm.xml"/>
        <mapping resource="org/life/sl/orm/Respondent.hbm.xml"/>
        <mapping resource="org/life/sl/orm/ShortestPathLength.hbm.xml"/>
        <mapping resource="org/life/sl/orm/SourcePoint.hbm.xml"/>
        <mapping resource="org/life/sl/orm/SourceRoute.hbm.xml"/>
        <mapping resource="org/life/sl/orm/Resultroute.hbm.xml"/>
        
        
	</session-factory>
		

</hibernate-configuration>